.section {
    width: 100%;
    background: var(--color-scheme-2-background);
    padding-top: 72px;
}

.container {
    padding: 0;
}

/* ====== GRID CONTAINER ВНУТРИ ГЛОБАЛЬНОГО .container ====== */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}

.aboutWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #000;
}

/* ====== DESCRIPTION ====== */

.description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

/* ====== FEATURES (3 карточки) ====== */

.features {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.icon {
    width: 36px;
    height: 36px;
    margin-bottom: 18px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #111;
}

.featureText {
    font-size: 16px;
    line-height: 1.55;
    color: #555;
}

/* Tablet (768px+) */
@media (min-width: 768px) {
    .content {
        width: 100%;
        display: grid;
        gap: 24px;
    }

    .aboutWrapper{
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    .title {
        font-size: 44px;
    }

    .titleBlock {
        flex: 0 0 55%;
    }

    .features {
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
    }

    .featureItem {
        display: flex;
        flex-direction: column;
    }

    .description{
        flex: 1;
    }
}

/* Desktop (1440px+) */
@media (min-width: 1440px){
    .title {
        font-size: 52px;
    }

    .description {
        font-size: 20px;
    }
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}