.section {
    width: 100%;
    background: var(--color-scheme-2-background);
    padding: 72px 0;
}

/* ====== GRID CONTAINER ВНУТРИ ГЛОБАЛЬНОГО .container ====== */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}

.title {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 28px;

    /* line-height: 34px; */
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #000;
}

/* ====== DESCRIPTION ====== */

.description {
    grid-column: 8 / span 5;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    max-width: 520px;
}

/* ====== FEATURES (3 карточки) ====== */

.features {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.icon {
    width: 36px;
    height: 36px;
    margin-bottom: 18px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #111;
}

.featureText {
    font-size: 16px;
    line-height: 1.55;
    color: #555;
}

/* Tablet (768px+) */
@media (min-width: 768px) {
    .content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
    }

    .title {
        max-width: 340px;
    }

    .titleBlock {
        grid-column: 1 / span 7;
    }

    .features {
        grid-column: 1 / span 12;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

    .featureItem {
        display: flex;
        flex-direction: column;
    }
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
