/* только внутренний профиль, без контейнеров */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

/* Аватар из Avatar.tsx */
.avatarWrapper {
    width: 199px;
    height: 199px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    max-width: 560px;
}

.name {
    font-family: var(--font-sora);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
    color: #000;
}

.bio {
    font-family: var(--font-nunito);
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-align: left; /* текст біо всегда влево */
}

/* Loader / Error */
.loading,
.error {
    font-size: 18px;
    color: #6b7280;
    padding: 60px 0;
}

/* TABLET */
@media (min-width: 768px) {
    .profile {
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 32px;
    }

    .name {
        font-size: 28px;
    }
}

/* DESKTOP */
@media (min-width: 1440px) {
    .profile {
        gap: 48px;
    }

    .name {
        font-size: 32px;
    }

    .bio {
        font-size: 18px;
    }
}
