/* Общий профиль */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 24px;

  /* MOBILE LEFT/RIGHT padding */
  /* padding: 0 16px; */
  box-sizing: border-box;
}

/* Аватар */
.avatarWrapper {
  width: 199px;
  height: 199px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Текстовая часть */
.info {
  max-width: 560px;
  width: 100%;
}

.name {
  font-family: var(--font-sora);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
  color: #000;
}

.bio {
  font-family: var(--font-nunito);
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  text-align: center;
}

/* Loader / Error */
.loading,
.error {
  font-size: 18px;
  color: #6b7280;
  padding: 60px 0;
}

/* ===== TABLET 768+ ===== */
@media (min-width: 768px) {
  .profile {
    flex-direction: row;
    align-items: center;

    /* TABLET LEFT/RIGHT padding 24px */
    /* padding: 0 24px; */
    text-align: left;
    gap: 32px;
  }

  .name {
    font-size: 28px;
  }
  .bio {
    text-align: left;
  }
}

/* ===== DESKTOP 1440+ ===== */
@media (min-width: 1440px) {
  .profile {
    gap: 48px;

    /* DESKTOP — no padding (центрируем контейнером) */
    padding: 0;
  }

  .name {
    font-size: 32px;
  }

  .bio {
    font-size: 18px;
  }
}
