.card {
  width: 100%;
  min-height: 363px;
  padding: 24px 20px 20px;

  background-color: #ffffff; /* карточка белая */
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(24, 59, 86, 0.06);

  display: flex;
  flex-direction: column;
  align-items: center; /* центрируем всё по горизонтали */
  text-align: center;
  gap: 16px; /* расстояние между элементами */
}

.avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 8px;
}

.name {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.text {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

/* если захочешь отдельно стилизовать кнопку внутри карточки */
/* .card :global(button) {
  margin-top: auto;
 } */
