/* контейнер для списка карточек */
.wrap {
  display: flex;
  flex-direction: column;
  gap: 64px; /* мобилка і планшет */
}

/* базовый grid всегда включён */
.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr; /* мобілка: 1 колонка */
}

/* Мобілка — 1 колонка (оставляем только отступы) */
@media (max-width: 767px) {
  .grid {
    gap: 24px;
  }
}

/* Планшет — 2 колонки */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Десктоп — 4 колонки */
@media (min-width: 1024px) {
  .wrap {
    gap: 72px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
