/* /* Контейнер для секції */
.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 24px;
  justify-content: center;
}

.grid {
  grid-template-columns: repeat(1, 335px);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 340px);
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 310px);
  }
}
