.section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin: 0;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}