.confirmBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.confirmModal {
    background-color: #F7F9FF;
    padding: 64px 20px 20px;
    border-radius: 24px;
    max-width: 335px;
    width: 100%;
    position: relative;
}

.confirmСloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.confirmTitle {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    padding-bottom: 16px;
}

.confirmText {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;
}

.cancelBtn {
    border-radius: 8px;
    padding: 6px 12px;
    width: 295px;
    height: 48px;
    color:#000;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.cancelBtn:active {
    background-color: #7a96ea;
    border: 1px solid #4169e1;
}

.confirmBtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    border: 1px solid #4169e1;
    border-radius: 8px;
    padding: 6px 12px;
    width: 295px;
    height: 48px;
    background-color: #4169e1;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.confirmBtn:active {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #1a2a5a;
}

@media (min-width: 768px){
    .confirmModal {
        padding: 64px 32px;
        max-width: 704px;
    }
    .confirmСloseButton {
        top: 16px;
        right: 16px;
    }
    .confirmTitle {
        font-size: 32px;
    }
    .buttons {
        flex-direction: row;
    }
    .cancelBtn,
    .confirmBtn { 
        width: 203px;
    }
    
}

@media (min-width: 1440px){
    .confirmModal {
        padding: 64px;
        max-width: 768px;
    }
    .confirmСloseButton {
        top: 24px;
        right: 24px;
    }
    .confirmTitle {
        font-size: 48px;
    }
    .confirmText {
        font-size: 20px;
    }
    .cancelBtn:hover,
    .cancelBtn:focus {
        background-color: #e8eeff;
        border: 1px solid #4169e1;
    }
    .confirmBtn:hover,
    .confirmBtn:focus {
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

}