.section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.card {
  max-width: 533px;
  width: 100%;
  padding: 32px;
  background-color: #f6f8ff;
  border-radius: 24px;
  border: 1px solid #d9e7ff;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
.text {
  margin: 0;
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  color: #111827;
  max-width: 100%;
}
@media (min-width: 375px) {
  .section {
    justify-content: center;
  }

  .card {
    padding: 20px;
    width: 335px;
    height: 195px;
    max-width: 768px;
  }

  .text {
    width: 274px;
    height: 75px;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #000;
  }
  .button {
    align-self: center;
    height: 48px;
    width: 295px;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    font-family: var(--font-nunito);
    font-weight: 600;
    font-size: 14px;
    background-color: #4169e1;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

/* ===== TABLET 768 ===== */
@media (min-width: 768px) {
  .card {
    border-radius: 24px;
    padding: 40px 32px;
    width: 533px;
    height: 210px;
    max-width: 768px;
    gap: 32px;
  }

  .text {
    width: 469px;
    height: 50px;
  }
  .button {
    align-self: flex-start;
    border: 1px solid #4169e1;
    border-radius: 8px;
    padding: 8px 12px;
    width: fit-content;
    height: 48px;
  }
}

/* ===== DESKTOP 1440+ ===== */
@media (min-width: 1440px) {
  .text {
    max-width: 100%;
  }
}
