/* Обёртка — выравнивание по левому краю внутри секции */
.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


.card {
  width: 533px;
  padding: 40px 32px;
  background: #e8eeff;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}


.text {
  margin: 0;
  font-family: var(--font-sora); 
  font-weight: 700;
  font-size: 28px;       
  line-height: 1.4;       
  letter-spacing: -0.01em; 
  color: #000;
  max-width: 100%;
}

.button {
  align-self: flex-start;
  padding: 6px 12px;
  height: 48px;

  border-radius: 8px;
  border: 1px solid #4169e1;
  background-color: #4169e1;

  font-family: var(--font-nunito);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color .2s, border-color .2s, color .2s;
}


.button:hover,
.button:focus-visible {
  background-color: #e8eeff;
  border-color: #4169e1;
  color: #000000;
}

.button:active {
  background-color: #7a96ea;
  color: #000000;
}

