/* Обёртка — выравнивание по левому краю внутри секции */
.wrapper {
  width: 100%;
  justify-content: flex-start;
}

.card {
  background: #e8eeff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 24px;
  padding: 20px;
  width: 335px;
  height: 195px;
  /* max-width: 768px; */
}

.text {
  font-family: var(--font-sora);
  width: 280px;
  height: 75px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
  margin: 0;
  font-weight: 700;
  line-height: 1.4;
  /* max-width: 100%; */
}

.button {
  align-self: flex-start;
  padding: 6px 12px;
  height: 48px;
  width: 295px;

  border-radius: 8px;
  border: 1px solid #4169e1;
  background-color: #4169e1;

  font-family: var(--font-nunito);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s;
}

.button:hover,
.button:focus-visible {
  background-color: #e8eeff;
  border-color: #4169e1;
  color: #000000;
}

.button:active {
  background-color: #7a96ea;
  color: #000000;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 32px;
    padding-bottom: 64px;
  }

  .button {
    width: 101px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .card {
    border-radius: 24px;
    padding: 40px 32px;
    width: 533px;
    height: 210px;
    max-width: 768px;
  }
  .text {
    width: 469px;
    height: 50px;
  }
}
