.storyPopularWrapper {
  background: #F7F9FF;
  padding: 64px 0; /* mobile */
}

@media (min-width: 768px) {
  .storyPopularWrapper {
    padding: 80px 0; /* tablet */
  }
}

@media (min-width: 1440px) {
  .storyPopularWrapper {
    padding: 80px 0; /* desktop */
  }
}

/* Чтобы лоадер и ошибка не ломали верстку */
.loaderWrapper,
.error {
  padding: 80px 0;
  text-align: center;
}

.page {
  width: 100%;
}
