.page {
  min-height: calc(100vh - 200px);
}

.popularSection {
  background-color: #f9fafb;
}

/* Tablet (768px+) */
@media (min-width: 768px) {
  .popularSection {
  }
}

/* Desktop (1440px+) */
@media (min-width: 1440px) {
  .popularSection {
    padding: 100px 0;
  }
}
