.footer {
  padding: 48px 0px;
  background: var(--color-scheme-2-foreground);
  text-align: center;
  min-width: 335px;
  margin-top: auto;
}

.logo_link {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 6px 4px 7px 3px;
}

.logo_icon {
  width: 23px;
  height: 23px;
}

.logo_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--text);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.links_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.links {
  margin-bottom: 40px;
}

.footer_icon {
  display: block;
  fill: var(--text);
  width: 32px;
  height: 32px;
}

.nav {
  margin-bottom: 24px;
}

.nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.nav_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.nav_item {
  padding: 8px 0;
}

.inscription {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text);
}

.logo_link:hover,
.logo_link:focus {
  color: #4169e1;
}

.nav_link:hover,
.nav_link:focus {
  color: #4169e1;
}

.footer_icon:hover,
.footer_icon:focus {
  fill: #4169e1;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    margin-bottom: 24px;
  }

  .logo {
    margin-bottom: 0px;
  }

  .links {
    margin-bottom: 0px;
  }

  .links_list {
    gap: 12px;
    padding-top: 6px;
  }

  .nav_list {
    flex-direction: row;
    gap: 32px;
  }

  .footer_icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 80px 0px;
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .content {
    margin-bottom: 0px;
    justify-content: center;
    gap: 454px;
  }

  .text {
    font-size: 16px;
  }

  .links_list {
    padding-top: 0px;
  }

  .nav {
    margin-bottom: 0px;
  }

  .nav_link {
    font-size: 18px;
  }
}
