.wrapper {
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 16px;
}

.content {
  min-width: 320px;
  width: 100%;
  max-width: 644px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

.nav li {
  flex: 1;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-bottom: 2px solid transparent;
  color: var(--color-scheme-2-text);
  transition: all var(--transition-base);
}

.active {
  border-bottom-color: rgba(0, 0, 0, 0.15);
  color: var(--color-scheme-1-text);
  font-weight: 500;
}
.logoText {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.authBgc {
  min-height: 100vh;
  background: var(--color-scheme-1-background);
}

.authHeader {
  width: 100%;
  padding-top: 18px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoRow {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
  justify-content: center;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .copy {
    margin-top: 104px;
  }
  .authHeader {
    padding-left: 32px;
  }
}

@media (pointer: fine) and (hover: hover) {
  .tab:hover span,
  .tab:focus-visible span {
    border: none !important;
    background: transparent !important;
  }
}

@media (pointer: fine) and (hover: hover) {
  .tab:hover {
    border-bottom-color: rgba(0, 0, 0, 0.05);
  }
}

@media (min-width: 1440px) {
  .authHeader {
    padding-left: 64px;
    padding-top: 18px;
  }
}
